<%- include('../partials/header') -%>

<h1><%= title %></h1>
<form method="post" action="">
    <div class="form-group">
        <label for="first_name">First Name: </label>
        <input id="first_name" type="text" class="form-control" placeholder="First name" 
        name="first_name" required="true" value="<%= locals.author === undefined ? '' : author.first_name %>">
        <br>
        <label for="family_name">Family Name: </label>
        <input id="family_name" type="text" class="form-control" placeholder="Family name" 
        name="family_name" required="true" value="<%= locals.author === undefined ? '' : author.family_name %>">
    </div>
    <br>
    <div class="form-group">
        <label for="date_of_birth">Date of birth: </label>
        <input id="date_of_birth" type="date" class="form-control" placeholder="dd/mm/yyyy" 
        name="date_of_birth" value="<%= locals.author === undefined ? '' : author.date_of_birth_yyyy_mm_dd %>">
        <br>
        <label for="date_of_death">Date of death: </label>
        <input id="date_of_death" type="date" class="form-control" placeholder="dd/mm/yyyy" 
        name="date_of_death" value="<%= locals.author === undefined ? '' : author.date_of_death_yyyy_mm_dd %>">
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<% if (locals.errors) { %>
    <ul>
        <% errors.forEach((error) => { %>
            <li><%= error.msg %></li>
        <% }); %>
    </ul>
<% } %>

<%- include('../partials/footer') -%>