<%- include('../partials/header') -%>

<h1><%= title %></h1>
<ul>
    <% author_list.forEach((author) => { %>
        <li>
            <a href=<%= author.url %>><%= author.name %></a> (<%= author.lifespan %>)
        </li>
    <% }) %>
</ul>

<%- include('../partials/footer') -%>