<%- include('../partials/header') -%>

<h1><%= book.title %></h1>
<p><strong>Author: </strong><a href="<%= book.author.url %>"><%= book.author.name %></a></p>
<p><strong>Summary: </strong><%= book.summary %></p>
<p><strong>ISBN: </strong><%= book.isbn %></p>
<p><strong>Genre: </strong>
    <% book.genre.forEach((val) => { %>
        <a href="<%= val.url %>"><%= val.name %></a>
        |,
    <% }) %>
</p>

<hr>

<% if (book_instances.length) { %>
    <p><strong>Delete the following copies before attempting to delete this Book</strong></p>
    <div>
        <h4>Copies</h4>
        <% book_instances.forEach(book_copy => { %>
            <hr>
            <% if (book_copy.status == 'Available') { %>
                <span class="text-success"><%= book_copy.status %></span>
            <% } else if (book_copy.status == 'Maintenance') { %>
                <span class="text-danger"><%= book_copy.status %></span>
            <% } else { %>
                <span class="text-warning"><%= book_copy.status %></span>
            <% } %>
            <p><strong>Imprint: </strong><%= book_copy.imprint %></p>
            <% if (book_copy.status != 'Available') { %>
                <p><strong>Due back: </strong><%= book_copy.due_back_formatted %></p>
            <% } %>
            <p><strong>Id: </strong><a href="<%= book_copy.url %>"><%= book_copy._id %></a></p>
        <% }); %>
    </div>
<% } else { %>
    <p>Do you really want to delete this Book?</p>
    <form action="" method="post">
        <div class="form-group">
            <input id="id" class="form-control" type="hidden" name="id" required="true" value="<%= book._id %>">
        </div>
        <button class="btn btn-primary" type="submit">Delete</button>
    </form>
<% } %>

<%- include('../partials/footer') -%>