<%- include('../partials/header') -%>

<h1><%= title %></h1>
<form method="post" action="">
    <div class="form-group">
        <label for="name">Genre: </label>
        <input id="name" type="text" class="form-control" placeholder="Fantasy, Poetry, etc." 
        name="name" value="<%= locals.genre === undefined ? '' : locals.genre.name %>">
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<% if (locals.errors) { %>
    <ul>
        <% errors.forEach((error) => { %>
            <li><%= error.msg %></li>
        <% }); %>
    </ul>
<% } %>

<%- include('../partials/footer') -%>