<%- include('../partials/header') -%>

<h1><%= title %></h1>
<ul>
    <% genre_list.forEach((genre) => { %>
        <li>
            <a href=<%= genre.url %>><%= genre.name %></a>
        </li>
    <% }) %>
</ul>

<%- include('../partials/footer') -%>